body::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 5px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}

body::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(97, 184, 179, 0.1);
  background: #6a7979;
}

body::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow: inset 0 0 5px rgba(87, 175, 187, 0.1);
  border-radius: 10px;
  background: #ededed;
}

body {
  background-color: #f3f3f3;
  font-size: 13px;
  margin: 0px 8px;
}

.body-div {
  height: 100%;
  box-sizing: border-box;
}

.b-clicked {
  background-color: #ff00002b;
}

.menu {
  position: fixed;
  background-color: #f3f3f3;
  width: 100%;
  height: 30px;
  top: 0px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu-ul li {
  float: left;
  padding: 4px;
  margin: 0;
  background-image: none;
}

.menu-ul li:hover:not(.active) {
  background-color: rgb(226, 226, 226);
}

.menu-ul .active {
  color: white;
  background-color: rgb(76, 175, 80);
}

.contain {
  margin-top: 30px;
}

.contain button {
  height: 25px;
}

.contain input[type='text'] {
  height: 25px;
  box-sizing: border-box;
}

/* .main-contain {
  display: none;
} */

.main-contain input {
  flex: 1;
}

.main-contain button {
  margin: 0px 5px;
}

.main-contain .tool-div {
  display: flex;
  position: fixed;
  top: 30px;
  left: 8px;
  right: 8px;
  background-color: #f3f3f3;
  height: 25px;
  padding-bottom: 5px;
}

.main-contain .log-div {
  margin-top: 60px;
  padding-bottom: 10px;
}

.main-contain .log-div p {
  margin: 5px 0px 0px 0px;
  word-break: break-all;
}

.main-contain .log-div .desc-div {
  font-size: 16px;
  /* text-align: center; */
  width: 60%;
  margin: 100px auto;
}

.main-contain .log-div .desc-div p {
  margin: 15px 0px 0px 0px;
  word-break: break-all;
}

.setting-contain {
  display: none;
}

.setting-contain .top button {
  margin: 0px 5px;
}

.setting-contain .middle {
  display: flex;
  margin-top: 15px;
}

.setting-contain .middle .div-border {
  border: 1px solid #aaaaaa59;
  padding: 8px;
  margin-bottom: 5px;
}

.setting-contain .middle .div-border input {
  margin-top: 5px;
}

.setting-contain .middle .left {
  width: 50%;
}

.setting-contain .middle .left .div-border {
  margin-right: 8px;
}

.setting-contain .middle .left .multi  {
  display: flex;
}

.setting-contain .middle .left .multi .multi-item {
  width: 50%;
}

.setting-contain .middle .left .multi .item {
  margin-bottom: 8px;
}

.setting-contain .middle .right {
  width: 50%;
}

.setting-contain .middle .right .mysql-option {
  display: none;
}

.setting-contain .middle .right .mysql-option div {
  display: flex;
  margin-top: 5px;
}

.setting-contain .middle .right .mysql-option div div {
  width: 55px;
}

.setting-contain .middle .right .mysql-option div input {
  flex: 1;
}

.setting-contain .middle .right .mysql-option button {
  margin: 0 15px;
}

.setting-contain .foot {
  margin-top: 15px;
}

.setting-contain .foot .item {
  display: flex;
  margin-top: 5px;
}

.setting-contain .foot .foot-item {
  margin-top: 10px;
}

.setting-contain .foot .item input {
  width: 60%;
  flex: 1;
}

.setting-contain .foot .item button {
  margin: 0px 15px;
}